
body{
    background-image: url(images/book.jpeg);
    background-size: cover;
}
#navbar{
    display: flex;
    gap: 35%;
    align-items: center;
    -webkit-text-fill-color: white;
    text-decoration: none;
    font-size: larger;
    text-align: center;
    margin-left: 4%;
}
#logo{
    width: 70px;
}
#text{
    font-size: 100px;
}
#call-to-action{
    font-size: 50px;
}
#heading{
    font-size: 110px;
}
.text{
    text-align: center;
    border: 1px solid white;
    border: none;
    text-align: left;
    width: fit-content;
    margin-left: 25%;
    color: white;
}
